body {
    
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
main{
    /*/caixa cinza/*/
    background-color: #707070;
    height: 75vh;
}

main > #caixaroxa{
    position: absolute;
    height: 55vh;
    width: 75%;
    background-color: #A99EE0;
    margin-top: 7.5vh;
    left: 12.5%;
}

main > #caixabranca{
    position: absolute;
    height: 50vh;
    width: 50%;
    background-color: #ffffff;
    margin-top: 16.5vh;
    left: 37.5%;

}

#menu {
    box-sizing: border-box;
}

nav{
    text-align: center;
    height: 10vh;
    padding-left: 30%;
    
}

nav ul{
    display: inline-flex;
    list-style: none;
    
}

nav ul li {
    /*/tamanhos dos quadrados la em cima e transição suave de cor/*/
    width: 136px;
    margin: 1px;
    padding: 8px;
    background-color: #f3f3f3;
    transition: background-color 0.5s ease;
}

.mudacor2 a{
    color: rgb(7, 7, 7);
}

.mudacor a{
    color: rgb(0, 0, 0);
}
.mudacor:hover{
    background-color: #3f3f3f;
}

.mudacor:hover a{
    color: rgb(255, 255, 255);
}

nav ul li a {
    
    text-decoration: none;
    
}

nav ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    
}

nav ul li:hover .sub-menu-1 ul{
    display: block;
    position: absolute;
    margin-top: 8px;
    margin-left: -49px;
    
    
    
}

.sub-menu-1{
    display: none;
    background-color: #3f3f3f;
}



nav ul li:hover .sub-menu-2{
    display: block;
    position: absolute;
    

}

nav ul li:hover .sub-menu-2 ul{
    display: block;
    position: absolute;
    margin-top: 8px;
    margin-left: -49px;
}

.sub-menu-2{
    display: none;
}

nav ul li:hover .sub-menu-3{
    display: block;
    position: absolute;

}

nav ul li:hover .sub-menu-3 ul{
    display: block;
    position: absolute;
    margin-top: 8px;
    margin-left: -49px;
}

.sub-menu-3{
    display: none;
}

p{
    text-align: center ;
    display: inline-block;
}

div#rodape {
    position: relative;
    height: 15vh;
    width: 100%;
}


#sair{
    padding-left: 3%;
    text-decoration: none;
    color: #3f3f3f;
}

a{
    font-weight: bolder;
    
}

/*/span{
    color: black;
}

span:hover{
    color:white;
}/*/