body {
    
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
main{
    /*/caixa cinza/*/
    background-color: #707070;
    height: 75vh;
}

main > #caixaroxa{
    position: absolute;
    height: 40vh;
    width: 75%;
    background-color: #A99EE0;
    margin-top: 17.5vh;
}

#menu {
    box-sizing: border-box;
}

nav{
    
    background-color: white;
    text-align: center;
    height: 10vh;
    padding-left: 30%;
}

nav ul{
    display: inline-flex;
    list-style: none;
}

nav ul li {
    /*/tamanhos dos quadrados la em cima e transição suave de cor/*/
    width: 136px;
    margin: 1px;
    padding: 8px;
    background-color: rgb(219, 223, 223);
    transition: background-color 0.5s ease;
}
.mudacor:hover{
    background-color: black;
}

.mudacor:hover a{
    color: white;
}

nav ul li a {
    /*/ transição de /*/
    text-decoration: none;
    color: black;
}

nav ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
}

nav ul li:hover .sub-menu-1 ul{
    display: block;
    position: absolute;
    margin-top: 8px;
    margin-left: -49px;
}

.sub-menu-1{
    display: none;
}

nav ul li:hover .sub-menu-2{
    display: block;
    position: absolute;

}

nav ul li:hover .sub-menu-2 ul{
    display: block;
    position: absolute;
    margin-top: 8px;
    margin-left: -49px;
}

.sub-menu-2{
    display: none;
}

nav ul li:hover .sub-menu-3{
    display: block;
    position: absolute;

}

nav ul li:hover .sub-menu-3 ul{
    display: block;
    position: absolute;
    margin-top: 8px;
    margin-left: -49px;
}

.sub-menu-3{
    display: none;
}

p{
    text-align: center ;
    display: inline-block;
}

div#rodape {
    position: relative;
    height: 15vh;
    width: 100%;
}


#sair{
    padding-left: 3%;
}

a{
    font-weight: bolder;
}